<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | purpl3bl0g</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/stars-background.css">
</head>
<body>
  <div class="stars"></div>

  <header>
    <h1>purpl3bl0g</h1>
    <p>🐾 Bienvenid@ al mundo de l1ttl3bugc4t 🐾</p>
  </header>
  <nav>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de mí</a>
    <a href="/blog">Blog</a>
    <a href="/certs">Certificaciones</a>
    <a href="/galeria">Galería Fotos</a>
    <a href="/lab">Laboratorio</a>
    <a href="/consola">Consola</a>
    <a href="/contact">Contacto</a>
  </nav>
  <section>
    {{ content }}
  </section>
</body>
</html>
